@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;    
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: auto;
    background-image: url("./img/header-img.png"),
                      url("./img/carbottom.png");
    background-repeat: no-repeat;
    background-position: top -2px right 93px,
                         top 6px left 202px;
}

a{
    display: block;
    text-decoration: none;
}

header{
    display: flex;
    margin: 5rem 10.2rem;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 9.7rem;
    height: 1.9rem;    
}

nav{
    display: flex;
    align-items: center;
}

.nav-items{
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.9px;
    color: rgba(57, 55, 55, 0.4);
    margin-left: 2.6rem;
    width: 12.7rem;
}

.header-btn{
    padding: 1rem 1.3rem;
    margin-left: 0;
    background-color: #fff;
    border: 1px solid rgba(57, 55, 55, 0.4);
    border-radius: 0.4rem;
    cursor: pointer;
}

main{
    margin: 5rem 10.2rem;
    height: 75rem;
    background-image: url("./img/carup.png"),
                      url("./img/carup.png"),
                      url('./img/main-img.png');
    background-repeat: no-repeat;
    background-position: top 393px right 38px,
     top 235px left 466px, 
     top 375px left 971px;
}

main h1{
    font-size: 11.1rem;
    line-height: 11.5rem;
    letter-spacing: 6.96px;
    color: #393737;
}

main p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    width: 36.5rem;
    margin-top: 12.2rem;
}

main button{
    margin-top: 3.4rem;
    padding: 2.2rem 4rem;
    background: #FFEA31;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;

    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.45px;
    color: #393737;
}

.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9FBFD;
}

.cookies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68rem;
    height: 8.4rem;
    position: relative;
    top: -4.5rem;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.15);
    border-radius: 22rem;
    background: #fff;
}

.cookies p{
    font-size: 1.6rem;
    line-height: 24px;
    color: #4E66FF;
    margin-left: 5rem;
    max-width: 39.2rem;
}

.cookies button{
    border: 1px solid #4E66FF;
    border-radius: 10rem;
    padding: 1.1rem 2.1rem;
    background: #fff;
    margin-right: 5rem;

    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #4E66FF;
    cursor: pointer;
}

.sec-one-info{
    display: flex;
    margin-top: 12.5rem;
    margin-left: 20.4rem;
    margin-right: 10.2rem;
}

.sec-one-info-box h2{
    font-size: 4.4rem;
    line-height: 5rem;
    letter-spacing: 1.32px;
    color: #393737;
    max-width: 33.9rem;
}


.sec-one-info-box p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    margin-top: 2.5rem;
    max-width: 451px;
}

.sec-one-info-box button{
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.45px;
    color: #5D6073;
    padding: 2.1rem 2.3rem;
    border: 1px solid #70748C;
    border-radius: 4px;
    margin-top: 5.7rem;
    background: #F9FBFD;
    cursor: pointer;
}

.sec-one-info img{
    margin-left: 5rem;
}

.sec-one-cards{
    display: flex;
    margin-top: 8.1rem;
    gap: 8.3rem;
    margin-bottom: 9.7rem;
}

.sec-one-cards-item h3{
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #393737;
    margin-top: 2.8rem;
}

.sec-one-cards-item p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    margin-top: 2.1rem;
    max-width: 26.9rem;    
}

.section-two{
    margin-left: 12rem;
    position: relative;
    height: 902px;
}

.section-two h2{
    font-size: 4.4rem;
    line-height: 5rem;
    letter-spacing: 1.32px;
    color: #393737;
    max-width: 65rem;
    margin-left: 8.4rem;
    margin-top: 5.8rem;
}

.section-two p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    margin-left: 8.4rem;
    margin-top: 5.8rem;
    max-width: 30rem;
}

.section-two img{
    position: absolute;
}

.map-img{
    top: 28rem;
    left: 54rem;
}

.parking-img{
    top: 33rem;
    left: 31rem;
}

.peak-img{
    top: 53.3rem;
    left: 17rem;
}

.utilization-img{
    top: 53.3rem;
    left: 69rem;
}

.section-three{
    margin-left: 20.4rem;
}

.section-three h2{
    font-size: 4.4rem;
    line-height: 5rem;
    letter-spacing: 1.32px;
    color: #393737;
    margin-top: 17.2rem;
    max-width: 51rem;
}

.section-three p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    margin-top: 2.5rem;
    max-width: 48.1rem;
}

.section-three strong{
    display: block;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #393737;
    margin-top: 9.4rem;
}

.section-three ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 6.9rem;
    margin-top: 3.6rem;
}

.logo-items{
    flex-basis: 25%;
}

.quote-box{
    display: flex;
    margin-top: 19.6rem;
    align-items: flex-end;
    margin-bottom: 18.8rem;    
}

.quote{
    display: flex;
}

.quote blockquote{
    font-size: 3.2rem;
    line-height: 4.6rem;
    letter-spacing: 0.32px;
    color: #4E66FF;
    max-width: 56.8rem;
}

.quote-info{
    display: flex;
    align-items: center;
    margin-left: 7.5rem;    
}

.quote-info-text{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.text-one{
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #393737;
} 

.text-two{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
}