@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;    
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 62.5%;
    list-style: none;
    /* outline: solid red; */
}

body{
    width: 100%;
    height: auto;
    background-image: url("./img/header-img.png"),
                      url("./img/carbottom.png");
    background-repeat: no-repeat;
    background-position: top -2px right 114px,
                         top 6px left 202px;
}

a{
    display: block;
    text-decoration: none;
}

/* HEADER */

header{
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 9.7rem;
    height: 1.9rem;
    margin-left: 10.2rem;    
}

nav{
    display: flex;
    align-items: center;
}

.nav-items{
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.9px;
    color: rgba(57, 55, 55, 0.4);
    margin-left: 2.6rem;
    width: 12.7rem;
}

.header-btn{
    padding: 1rem 1.3rem;
    margin-right: 10.2rem;
    background-color: #fff;
    border: 1px solid rgba(57, 55, 55, 0.4);
    border-radius: 0.4rem;
    cursor: pointer;
}

/* MAIN */

main{
    margin-top: 5rem;
    margin-left: 10.2rem;
    margin-right: 10.2rem;
    height: 75rem;
    background-image: url("./img/carup.png"),
                      url("./img/carup.png"),
                      url('./img/main-img.png');
    background-repeat: no-repeat;
    background-position: bottom -75px right 45px,
     bottom 47px right 408px, 
     bottom 0 right 10px;
}

main h1{
    font-size: 11.1rem;
    line-height: 11.5rem;
    letter-spacing: 6.96px;
    color: #393737;
}

main p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    width: 36.5rem;
    margin-top: 12.2rem;
}

main button{
    margin-top: 3.4rem;
    padding: 2.2rem 4rem;
    background: #FFEA31;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;

    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.45px;
    color: #393737;
}

/* SECTION ONE */

.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9FBFD;
}

.cookies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68rem;
    height: 8.4rem;
    position: relative;
    top: -4.5rem;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.15);
    border-radius: 22rem;
    background: #fff;
}

.cookies p{
    font-size: 1.6rem;
    line-height: 24px;
    color: #4E66FF;
    margin-left: 5rem;
    max-width: 39.2rem;
}

.cookies button{
    border: 1px solid #4E66FF;
    border-radius: 10rem;
    padding: 1.1rem 2.1rem;
    background: #fff;
    margin-right: 5rem;

    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #4E66FF;
    cursor: pointer;
}

.sec-one-info{
    display: flex;
    margin-top: 12.5rem;
    margin-left: 20.4rem;
    margin-right: 10.2rem;
}

.sec-one-info-box h2{
    font-size: 4.4rem;
    line-height: 5rem;
    letter-spacing: 1.32px;
    color: #393737;
    max-width: 33.9rem;
}


.sec-one-info-box p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    margin-top: 2.5rem;
    max-width: 451px;
}

.sec-one-info-box button{
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.45px;
    color: #5D6073;
    padding: 2.1rem 2.3rem;
    border: 1px solid #70748C;
    border-radius: 4px;
    margin-top: 5.7rem;
    background: #F9FBFD;
    cursor: pointer;
}

.sec-one-info img{
    margin-left: 5rem;
}

.sec-one-cards{
    display: flex;
    margin-top: 8.1rem;
    gap: 8.3rem;
    margin-bottom: 9.7rem;
}

.sec-one-cards-item h3{
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #393737;
    margin-top: 2.8rem;
}

.sec-one-cards-item p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    margin-top: 2.1rem;
    max-width: 26.9rem;    
}

/* SECTION TWO */

.section-two{
    margin-left: 12rem;
    margin-right: 12rem;
    position: relative;
    height: 902px;
    background-image: url("./img/map.png");
    background-repeat: no-repeat;
    background-position: top 29rem left 50rem;
}

.section-two h2{
    font-size: 4.4rem;
    line-height: 5rem;
    letter-spacing: 1.32px;
    color: #393737;
    max-width: 65rem;
    margin-left: 8.4rem;
    margin-top: 5.8rem;
}

.section-two p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    margin-left: 8.4rem;
    margin-top: 5.8rem;
    max-width: 30rem;
}

.section-two img{
    position: absolute;
}

.map-img{
    top: 28rem;
    left: 54rem;
    overflow-x: hidden;
}

.parking-img{
    top: 33rem;
    left: 31rem;
}

.peak-img{
    top: 55.3rem;
    left: 17rem;
}

.utilization-img{
    top: 54.3rem;
    left: 69rem;
}

/* SECTION THREE */

.section-three{
    margin-left: 20.4rem;
}

.section-three h2{
    font-size: 4.4rem;
    line-height: 5rem;
    letter-spacing: 1.32px;
    color: #393737;
    margin-top: 17.2rem;
    max-width: 51rem;
}

.section-three p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
    margin-top: 2.5rem;
    max-width: 48.1rem;
}

.section-three strong{
    display: block;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #393737;
    margin-top: 9.4rem;
}

.section-three ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 6.9rem;
    margin-top: 3.6rem;
}

.logo-items{
    flex-basis: 25%;
}

.quote-box{
    display: flex;
    margin-top: 19.6rem;
    align-items: flex-end;
    margin-bottom: 18.8rem;    
}

.quote{
    display: flex;
}

.quote blockquote{
    font-size: 3.2rem;
    line-height: 4.6rem;
    letter-spacing: 0.32px;
    color: #4E66FF;
    max-width: 56.8rem;
}

.quote-info{
    display: flex;
    align-items: center;
    margin-left: 7.5rem;    
}

.quote-info-text{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.text-one{
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #393737;
} 

.text-two{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #70748C;
}

/* SECTION FOUR */

.section-four{    
    background: #F0F8FF;
    display: flex;
    flex-direction: column;
    background-image: url("./img/bglines.png"), url("./img/bglines2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 left 0, top 26rem left 124rem;
}

.section-four h2{
    font-size: 9.6rem;
    line-height: 10.1rem;
    letter-spacing: 3.84px;
    color: #4E66FF;
    max-width: 47.9rem;
    margin-left: 10.2rem;
    margin-top: 6rem;
}

.sec-four-info{
    display: flex;
    margin-top: 6.3rem;
    justify-content: space-between;
    margin-bottom: 8rem;
    margin-right: 16rem;
}

.sec-four-info-text1{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #4E66FF;
    max-width: 33.3rem;
    margin-top: 6.8rem;
    margin-left: 10.2rem;
}

.sec-four-info-text2{
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #4E66FF;
    max-width: 23.7rem;
}

.sec-four-btn{
    width: 19.5rem;
    height: 6.8rem;
    margin-top: 4rem;
    background: #4E66FF;
    border-radius: 4px;
    border: none;

    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    cursor: pointer;
}

/* SECTION FIVE */

.section-five{
    display: flex;
    flex-direction: column;
    background: #F9FBFD;
}

.section-five h2{
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #393737;
    margin-top: 10rem;
    margin-left: 20rem;
}

.sec-five-gallery{
    display: flex;
    justify-self: center;
    margin-left: 20rem;
    margin-top: 2.4rem;
    gap: 2.1rem;    
}

.sec-five-gallery-item{
    background: #fff;
    border-radius: 12px;
}

.sec-five-gallery-item h3{
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #393737;
    max-width: 25.8rem;
    margin-top: 2.2rem;
    text-align: center;
}

.sec-five-gallery-item span{
    display: block;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #B5B7C7;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 1.7rem;
}

.section-five button{
    margin-top: 8.8rem;
    margin-bottom: 10rem;
    width: 16.6rem;
    height: 6rem;
    margin-left: 20rem;
    border: 1px solid #70748C;
    border-radius: 4px;
    background: #fff;

    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.45px;
    color: #5D6073;
    cursor: pointer;
}

/* SECTION SIX */

.section-six{
    display: flex;
    background: #DDEBFF;    
}

.sec-six-info{
    height: 56.2rem;
    margin-top: 11.4rem;
    margin-left: 10.2rem;
    margin-bottom: 11.8rem;
    background-image: url("./img/whitebordertopleft.png"),
    url("./img/whitebordertopright.png"),
    url("./img/whiteborderbottomleft.png"),
    url("./img/whiteborderbottomright.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top 0 left 0,
    top 0 right 0,
    bottom 0 left 0,
    bottom 0 right 0;
}

.sec-six-info h2{
    font-size: 4.4rem;
    line-height: 5rem;
    letter-spacing: 1.32px;
    color: #393737;
    max-width: 44.5rem;
    font-weight: 700;
    margin-top: 4.2rem;
    margin-left: 5.7rem;    
}

.sec-six-info p{
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 1.8px;
    color: #393737;
    max-width: 42.5rem;
    margin-top: 31.3rem;
    margin-left: 5.7rem; 
}

form{
    margin-left: 8rem;
}

form input{
    display: block;
    border: none;
}

form input::placeholder{
    font-size: 2.4rem;    
    color: rgba(0, 0, 0, 0.22);
    padding-left: 3.1rem;      
}

::-webkit-input-placeholder {
    line-height: 5.4rem;
}

.name,
.email{
    width: 60.6rem;
    height: 5.4rem;
}

.name{
    margin-top: 15.6rem;
}

.email{
    margin-top: 3rem;
}

.sec-six-inputs{
    display: flex;
    margin-top: 3rem;
}

.company,
.position{
    width: 29.3rem;
    height: 5.4rem;
}

.position{
    margin-left: 2rem;
}

.message{
    width: 60.6rem;
    height: 10.8rem;
    margin-top: 3rem;
}

form button{
    margin-top: 5rem;
    width: 18.4rem;
    height: 6.8rem;
    background: #393737;
    border-radius: 4px;
    border: none;

    font-size: 2.4rem;
    color: #FFFFFF;
    cursor: pointer;
}

/* FOOTER */

.footer-main{
    display: flex;
    justify-content: space-between;
    margin-top: 5.3rem;
    margin-left: 10.2rem;
    margin-right: 10.2rem;
}

.footer-links a{
    font-size: 1.5rem;
    color: #393737;
    margin-bottom: 2rem;    
}

.footer-info span{
    font-size: 15px;
    color: #393737;
}

.social{
    display: flex;
    gap: 1.1rem;
    margin-top: 2rem;
}

address{
    margin-top: 2.3rem;
    max-width: 17.5rem;

    font-size: 1.5rem;
    font-style: normal;
    line-height: 2.4rem;
    color: #70748C;
}

.vade-group{
    display: block;
    font-size: 1.2rem;
    color: #B5B7C7;
    margin-top: 5.3rem;
    margin-left: 10.2rem;
}

hr{
    margin-top: 2rem;
    margin-left: 10.2rem;
    margin-right: 10.2rem;
    background: #DDEBFF;
    border: none;
    height: 1px;
}

.privacy{
    display: flex;
    margin-top: 2rem;
    margin-left: 10.2rem;
    margin-bottom: 3.3rem;
}

.privacy a{
    font-size: 1.2rem;
    color: #B5B7C7;
}

.privacy-item2{
    margin-left: 1.6rem;
}


